@model VehicleMvcDemo.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

    <h1>Vehicle Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleMake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleVin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleVin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
