@model VehicleMvcDemo.Models.VehicleMakeViewModel

@{
    ViewData["Title"] = "Vehicles List";
}

<h1>Vehicles List</h1>

<form asp-controller="Vehicles" asp-action="Index" method="get">
    <div class="container">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm">
                <select class="btn btn-outline-primary" asp-for="VehicleMake" asp-items="Model.Makes">
                    <option value="">All Makes</option>
                </select>
            </div>
            <div class="col-lg">
                <input class="form-control" type="text" name="searchString" placeholder="Filter by Model. . ." />
            </div>
            <div class="col-sm-1">
                <input class="btn btn-primary" type="submit" value="Filter" />
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleVin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vehicles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleVin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form>
    <div class="container">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm">
                
            </div>
            <div class="col-lg">

            </div>
            <div class="col-sm-2">
                <input type="submit" value="Add Vehicle" asp-action="Create" class="btn btn-success" />
            </div>
        </div>
    </div> 
</form>
