@model VehicleMvcDemo.Models.VehicleMakeViewModel

@{
    ViewData["Title"] = "Vehicles List";
}

<h1>Vehicles List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Vehicles" asp-action="Index" method="get">
    <p>
        <select asp-for="VehicleMake" asp-items="Model.Makes">
            <option value="">All Makes</option>
        </select>

        Model: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleVin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].VehicleNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vehicles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleVin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
